<style>
	.lowest {
		
	}
</style>
<div style="padding: 10px; margin: 20px; height: auto; width: 80%;" id="result">
	<div id="header" style="width: 100%; height: 40px; background-color: #E8E8E8; padding: 5px;">Past Searches</div>
		<table cellpadding="5" cellspacing="3">
				<tr>
					<td>Terms</td>
					<td>Segment</td>
					<td>Segment Length</td>
				</tr>
				<tr ng-repeat="(key, thisSegment) in pastSearches" ng-class="{lowest: thisSegment.lowest}">
					<td>
						{{thisSegment.terms}}
					</td>
					<td>
						{{thisSegment.segment}}
					</td>
					<td>{{thisSegment.segmentLength}}</td>
				</tr>
			</table>
</div>


<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>
