<style>
	.lowest {
		background-color: SkyBlue;
	}
</style>
<div id="searchbox">
	<input type="text" id="search" name="searchTerms" placeholder="search phrase" ng-model="search.words"/>
	<button ng-click="searchContent()">search</button>
	<div style="background-color: red;" ng-if="notFound">Not found: {{notFound}}</div>
</div>
<div style="padding: 10px; margin: 20px; height: auto; width: 80%;" id="instructionsHolder">
	<div id="header" style="width: 100%; height: 40px; background-color: #E8E8E8; padding: 5px;">Instructions</div>
	Given a page of content with alphanumeric words, and a search phrase of N words, write an algorithm that will return the shortest snippet of content that contains all N words in any order.
	<br /><br />
	Example: The George Washington Bridge in New York City is one of the oldest bridges ever constructed. It is now being remodeled because the bridge is a landmark. City officials say that the landmark bridge effort will create a lot of new jobs in the city.
	<br /><br />
	Search Terms: Landmark City Bridge
	<br /><br />
	Result: bridge is a landmark. City
<br />
</div>
<div style="padding: 10px; margin: 20px; height: 100px; width: 80%;" id="contentHolder">
	<div id="header" style="width: 100%; height: 40px; background-color: #E8E8E8; padding: 5px;">Content</div>
	<div id="searchContentHolder">
		{{contentToSearch}}
	</div>
</div>
<div style="padding: 10px; margin: 20px; height: auto; width: 80%;" id="result">
	<div id="header" style="width: 100%; height: 40px; background-color: #E8E8E8; padding: 5px;">Results</div>
		<table cellpadding="5" cellspacing="3">
				<tr>
					<td>Segment</td>
					<td>Segment Length</td>
				</tr>
				<tr ng-repeat="(key, thisSegment) in segmentResults" ng-class="{lowest: thisSegment.lowest}">
					<td>
						{{thisSegment.segment}}
					</td>
					<td>{{thisSegment.segmentLength}}</td>
				</tr>
			</table>
</div>
